body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins",sans-serif;
}
.pic_jannat{
  height: 100%;
  width: 100%;
}
.welcome_tow{
  font-size: 50px;
  font-weight: 200;
}
.middle_title{
  font-size: 50px;
  font-weight 200;
margin-bottom: 0;
}

.middle_text{
  margin: 0;
  width: 90%;
  text-align: justify;
  padding-bottom: 20px;
}
.jannat_name{
  color: coral;
  font-weight : 500;
  
}
.title_pic,
.title_text{
  width :50%
}
.jannat_element{
  display: flex;
  background-image: url("../img/jannat.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
.title_text p{
  margin: 4em 0em 4em 5em;
  text-align: justify;
  margin-bottom: 50px;
}
.title_pic{
  margin-left: 5em;
  
}
.me_hire{
  font-weight 700;
font-size: 1.15em;
background-image: linear-Gradient(
to right,
rgb(255,151,115),
rgb(255,109,80)
);
border: none;
margin-top:10px;
padding: 15px 40px;
border-radius: 10px;
text-transform: uppercase;

}
.experience{
  display: flex;
  height: 100%;
  background-image: url("../image/1.jpg");
  background-repeat: no-repeat;
  background-position: left;

  
}
.exp-one{
  padding-left: 30px;
  margin-left: 80px;
  margin-right: 40px;
  border-left: 7px solid;
  border-image: linear-Gradient(180deg,lightsalmon,tomato);
  border-image-slice: 1;
  box-shadow: 20px 20px 5px grey;
}
.exp-tow{
  padding-left: 30px;
  margin-left: 40px;
  margin-right: 80px;
  border-left: 7px solid;
  border-image:linear-Gradient(180deg,blue,cyan);
  border-image-slice: 1;
  box-shadow: 8px 8px 40px grey;
}
.exp-title{
  font-size: 40px;
  font-weight: 500;
}
.exp-des{
  font-weight:500;
  color: coral;
}
.exp-text{
  text-align: justify;#42445A
  padding:20px 30px 30px 0;
}
.exp-header{
  margin-left: 80px;
  font-size: 50px;
  font-weight 200;
  text-transform : capitalize;
}
footer p{
  padding-top: 30px;
  text-align: center;
}