/* about section */
*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', Sans-Serif;
    box-sizing: border-box;
    background-image: url('/.jpg');
    background-color: #060707BF;
}
.about{
    width: 100%;
    padding: 80px 0px;
    background-color: #191919;
    
}
.about img{
    height: auto;
    width: 362px;
    border-radius: 45%;
  
}

img{
  box-shadow: 5px 8px 50px white;    opacity: 0.5;
}

.about-text{
    width: 551px;
}
.main{
    width: 1131px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.about-text h3{
     color: wheat;
     font-size: 24px;
     text-transform: capitalize;
     margin-bottom: 24px;
     letter-spacing: 2px;
     
}
.programing{
    color: #f9004d;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 23px;
    margin-bottom: 44px;
  
}
/* ::first-letter  */

p::first-letter {
font-size :30px;
  color: #CB2ED6;
  Font-family: cursive;
}
/* Add an arrow on hover:button */
.button{
  border-radius:10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align:center;
  font-size:28px;
  padding: 40px;
  width:300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span{
  cursor: pointer ;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span{
  padding-right: 20px;
  
}
.button:hover span:after {
  opacity: 1;
  right : 0;
}
/*  details section */
.details {
  padding: 40px;
  margin: 30px;
  margin-bottom: 10px;
  border: 8px solid;
  border-image: linear-Gradient(180deg, #ddd, cyan);
  box-shadow : 5px 8px 50px #Ffffff;
  color: #FFFFFF;
  
}
/* table zebra striping */
thead, th{
    padding: 15px;
}
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
  
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
    padding: 15px;
  
}

table {
    width: 100%;
    border-collapse: collapse;
   background-color: #ff33cc;
  
}


/* graphics and colors */
table, thead, th{
    padding: 10px ;
    border-radius: 8px 8px 0 0;
    color: white;
}
thead, tfoot {
  border-radius: 5px 5px 0 0;
  background: linear-gradient(1.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
  
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 0px solid purple;
  
  
}
td{
    text-align: center;
    color: #ddd;
}
.thead-a{
    padding-top: 15px;
    border: 1px solid blue;
    padding-top: 20px;
}

